* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

#pageContent {
    display: flex;
    height: 100%;
    width: 100%;
}

.pageHeading {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    gap: 50px;
    background-color: #43B15D;
    align-items: center;
    border-right: 2px solid #2F3337;
}

#btnAdd, #form button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: 1px solid #2F3337;
    border-radius: 5px;
    font-size: 16px
}

#form button {
    font-size: 18px;
    font-weight: 600;
}

#btnAdd svg {
    height: 30px;
    width: auto;
}

.container {
    flex: 3 1 auto;
    display: flex;
    padding-top: 100px;
    gap: 20px;
    justify-content: space-evenly;
    background-color: #F4F5F6;
    flex-wrap: wrap;
}

.book {
    width: 300px;
    height: 200px;
    background-color: #43B15D;
    border-radius: 15px;
    padding: 40px;
    border: 2px solid #2F3337;
    display: flex;
    flex-direction: column;
    
}

.book button {
    margin-top: 30px;
    align-self: flex-end;
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid #2F3337;
    border-radius: 5px;
}

button {
    background-color: #579F3C;
}

#form {
    background-color:  #F4F5F6;
    width: 80vw;
    height: 100vh;
    margin: 10px auto;
    padding: 200px;
    font-size: 20px;
}

#form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 80px;
}

#form fieldset legend {
    font-size: 25px;
    font-weight: 700;
}

#form fieldset div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#form fieldset div label {
    font-weight: 600;
}

#form fieldset div input {
    font-size: 18px;
    padding: 5px 10px;
    width: min(80vw, 400px)
}

#form div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 80px;
}